body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.approve-body{
    width: 100%;

    padding: 0;
    box-sizing: border-box;
}

.images-section {
    display: flex;
    width: 90%;
}

.images-section div{
    padding: 4rem 2rem;
}

.images-section img{
    width: 100%;
}

.style-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150%;
}

.style-header h2{
}

.style-header div{
    display: flex;
    padding: 0rem 0rem 0rem 4rem;
    align-items: center;
    justify-content: center;
}

.go-button {
    font-weight: bold;
    padding: 1rem 5rem;
}

    function toggleImage(){
    document.querySelector('recycle.svg').classList.toggle('hidden');
}

    .hidden{
  display: none;
    }

    .w-100{
      width: 100%;
    }

    .mb-10{
      margin-bottom: 10px;
    }

.style-header div load{
    width: 20%;

}

.style-header div .load img{
    animation: loading-ani 1s infinite ease-in-out;
}


@keyframes loading-ani {
 from {
   transform: rotateZ(0deg);
 }
 to {
   transform: rotateZ(360deg);
 }
}





