{% extends "merge/base.html" %}

{% load static %}


<html>
    <head>
        {% block title %}
        <title>
            </title>
        {% endblock %}
    </head>
    <body>
{% block content %}
        <ul>
            <h2>{{ last_content.title }}</h2>
            <img src="{{ last_content.cover.url}}" alt="{{ last_content.title }}">

            <h2>{{ last_style.title }}</h2>
            <img src="{{ last_style.cover.url}}" alt="{{ last_style.title }}">
        </ul>
    {% endblock %}
    </body>
</html>